body{
    background-color: rgb(255, 153, 0);
    color: rgb(0, 0, 0);
}
@import url(reset.css);
.barra-login{
    background-color: rgb(255, 217, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 3px 3px 1px black;
}
.formLogin input {
    width: 100px;
    border-radius: 5px;
    border: none;
}
.formLogin label{
    font-size: 14px;
}
.esqueci-senha {
    font-size: 14px;
    margin-bottom: 3px;
    text-align: end;
}